<div class="input-container" [ngClass]="{
  error: data.errors.length > 0,
  success: data.errors.length === 0 && options.isChecked === true
}">
  <span class="message"></span>
  <label class="checkbox-btn" *ngFor="let item of options.items">
    <input type="checkbox" [name]="options.name" [value]="item.value" (change)="onPress(item.value)"
           [checked]="data.values.indexOf(item.value) !== -1">
    <span class="square" [ngClass]="{checked: data.values.indexOf(item.value) !== -1}"></span>
    <span [innerHtml]="item.title"></span>
  </label>

  <!--validation-->
  <span *ngFor="let error of data.errors" class="message" [innerHtml]="error"></span>
  <div class="validation-container">
    <span class="icon"></span>
  </div>
  <!--/validation-->
</div>
