@import "~assets/styles/_components/bootstrap-variables";
@import "~assets/styles/_components/variables";
@import "~assets/styles/_components/mixins";

.main-header {
	position:fixed;
	top:0;
	left:0;
	height:50px;
	width:100%;
	padding:10px 0;
	background-color: $light-purple-bg;
	text-align:right;
	color: $light-paragraph;
	z-index: 1;
	.logo {
		display: none;
	}
	.notifications-container {
		display: none;
	}
}