<div class="input-container" [ngClass]="{
  error: data.errors.length > 0,
  success: data.errors.length === 0 && options.isChecked === true
}">
  <span class="message"></span>
  <label class="radio-btn" *ngFor="let item of options.items">
    <input type="radio" [name]="options.name" [(ngModel)]="data.value" [value]="item.value"
           (change)="onPress(item.value)" [checked]="data.value === item.value">
    <span class="circle"></span>
    <span [innerHtml]="item.title"></span>
  </label>

  <!--validation-->
  <span *ngFor="let error of data.errors" class="message" [innerHtml]="error"></span>
  <div class="validation-container">
    <span class="icon"></span>
  </div>
  <!--/validation-->
</div>
