<aside id="sidebar"> <!-- class="middle-width" -->
  <div class="sidebar-wrap">

    <div class="logo"></div>

    <ul class="side-menu moderation-block" [ngClass]="{expanded: configs.expandedGroups.moderationGroup === true}">

      <li class="main-menu-elem approve-users">
        <a
          [ngClass]="{active: configs.activeLink === configs.decodedGroups.appsGroup + '-' + configs.decodedLinks.appsGroup.app}"
          (click)="goToApps(configs.decodedLinks.appsGroup.appList)"
        >Apps</a>
      </li>

      <li class="main-menu-elem approve-users">
        <a
          [ngClass]="{active: configs.activeLink === configs.decodedGroups.releaseGroup + '-' + configs.decodedLinks.releaseGroup.note}"
          (click)="goToRelease(configs.decodedLinks.releaseGroup.note)"
        >Releases</a>
      </li>

    </ul>

  </div>
</aside>
