@import "../../../../assets/styles/_components/bootstrap-variables";
@import "../../../../assets/styles/_components/variables";
@import "../../../../assets/styles/_components/functions";
@import "../../../../assets/styles/_components/mixins";

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $purple-bg;
  height: 100%;
  width: 24rem;
  z-index: 2;
  .logo {
    text-align: center;
    padding: 2rem;
    background-color: $light-purple-bg;
    img {
      max-width: 100%;
    }
  }
  &.middle-width {
    width: 11rem;
  }
  .short-logo {
    display: none;
    max-height: 4rem;
  }
}

.sidebar-wrap {
  font-size: 0.95em;
  a {
    color: $light-paragraph;
    text-decoration: none;
    opacity: 0.5;
    display: block;
    padding: 1.3rem 1rem;
    transition: $standard-transition;
    &:hover,
    &.active {
      opacity: 1;
      background-color: $light-purple-bg;
    }
    &:before {
      content: "";
      @include icon-font-styles;
      margin-right: 8px;
      position: relative;
      top: 2px;
    }
  }

  .side-menu {
    border-top: 1px solid $dark-blur-border;
    border-bottom: 1px solid $dark-blur-border;
    > li {
      &.active {
        > a {
          background-color: $main-orange;
          opacity: 1;
        }
      }

      &.overview {
        > a:before {
          content: "\e023";
        }
      }
      &.stats {
        > a:before {
          content: "\e060";
        }
      }
      &.approve-users {
        > a:before {
          content: "\e014";
        }
      }
    }
  }

  .main-menu-elem {
    &.has-dropdown {
      > a:after {
        content: "\e05e";
        @include icon-font-styles;
        position: relative;
        top: 4px;
        float: right;
      }
    }
    &.has-dropdown.active {
      > a:after {
        content: "\e05f";
      }
    }
    &.has-deep.active {
      .slidedown-menu:hover a.deep:before,
      a.deep.expand:before {
        display: inline-block;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }

      .slidedown-menu:hover .deep-menu {
        opacity: 1;
      }

      .deep-menu {
        opacity: 0;
        &.active {
          opacity: 1;
        }

        position: absolute;
        left: 100%;
        width: 100%;
        margin-top: -45px;
        z-index: 999;
        color: white;
        border: solid 3px $purple-bg;
        border-left: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: $light-purple-bg;
      }

    }

    .indicator {
      float: right;
      position: relative;
      z-index: 1;
      top: 1.1rem;
      margin-right: 1rem;
    }
  }

  .slidedown-menu {
    padding-left: 1rem;
    background-color: $light-purple-bg;
    max-height: 0;
    overflow: hidden;
    transition: $standard-transition;
    a {
      &:before {
        content: "\e05d";
        margin-right: 4px;
      }
      &.active {
        opacity: 1;
        cursor: default;
      }
    }
  }

  .main-menu-elem {
    position: relative;
    &.active {
      .slidedown-menu {
        max-height: 500px;
      }
    }
  }

  .moderation-block {
    border-bottom: 1px solid $dark-blur-border;
    .main-menu-elem {
      max-height: 0;
      overflow: hidden;
      transition: $standard-transition;
    }
    &.expanded {
      .main-menu-elem {
        max-height: 100px;
      }
      .expand:before {
        content: "\e05f";
      }
    }
    a {
      background-color: $light-purple-bg;
    }
  }

  .indicator {
    background-color: $main-orange;
    color: $light-paragraph;
    display: inline-block;
    padding: 0.2rem 0.35rem;
    border-radius: 15px;
    font-size: 0.85em;
  }

  .switch-country {
    padding: 0.5rem 1rem 1rem;
    background-color: $darker-grey-bg;
    border-right: 1px solid $light-border;
    select {
      width: 80%;
      vertical-align: middle;
      display: inline-block;
    }
    option {
      padding-left: 1rem;
    }
    .expand-cont {
      display: inline-block;
      width: 15%;
      vertical-align: middle;
      text-align: center;
      position: relative;
      .indicator {
        position: absolute;
        top: -10px;
        right: -8px;
      }
    }
    a.expand {
      border: 1px solid $light-border;
      display: inline-block;
      padding: 0;
      width: 2.5rem;
      height: 2.5rem;
      opacity: 1;
      background-color: white;
      &:before {
        content: "\e05e";
        @include icon-font-styles;
        color: $dark-blur-border;
        margin-right: 0;
        top: 4px;
      }
    }
    span.title {
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-size: 0.8em;
      margin-bottom: 0.5rem;
      letter-spacing: 3px;
    }
  }

  select {
    border: 1px solid $light-border;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
  }
}

#sidebar.middle-width {

  .sidebar-wrap {

    .main-menu-elem {
      > a {
        text-align: center;
        padding: 1.2rem;
        font-size: 0.85em;
        &:before {
          font-size: 2rem;
          text-align: center;
          display: block;
          top: 0;
          margin-right: 0;
          margin-bottom: 4px;
        }
      }
    }

    .slidedown-menu {
      position: absolute;
      top: 0;
      left: 11.5rem;
      max-height: 500px;
      padding: 0.9rem 0.5rem;
      opacity: 0;
      visibility: hidden;
      transition: $standard-transition;
      a {
        white-space: nowrap;
      }
    }

    .has-dropdown:hover {
      > a {
        opacity: 1;
        background-color: $light-purple-bg;
      }
      .slidedown-menu {
        left: 11rem;
        opacity: 1;
        visibility: visible;
      }
    }

  }

  .short-logo {
    display: inline-block;
  }
  .long-logo {
    display: none;
  }
}
