@import "~assets/styles/_components/bootstrap-variables";
@import "~assets/styles/_components/variables";
@import "~assets/styles/_components/mixins";
@import "~assets/styles/_components/global-styles";

.main-footer {
	position:fixed;
	bottom:0;
	left:0;
	height:20px;
	width:100%;
	background-color: $purple-bg;
	z-index: 1;
}