<div class="input-container" [ngClass]="configs.classes">
  <span class="label-text" *ngIf="options.title !== ''" [innerHtml]="options.title"></span>
  <span class="message"></span>
  <input *ngIf="options.type !== 'textarea'" [type]="options.type ? options.type : 'text'" [title]="options.title"
         [disabled]="options.isDisabled === true" class="form-control" [(ngModel)]="data.value"
         [ngModelOptions]="{standalone: true}"
         (keyup)="onPress($event)"
         (focus)="onFocus($event)"
         (blur)="onFocus($event)">

  <textarea *ngIf="options.type === 'textarea'" [disabled]="options.isDisabled === true" class="form-control"
            [(ngModel)]="data.value" [ngModelOptions]="{standalone: true}" [title]="options.title"
            (keyup)="onPress($event)"
            (focus)="onFocus($event)"
            (blur)="onFocus($event)"></textarea>

  <!--validation-->
  <span *ngFor="let error of data.errors" class="message" [innerHtml]="error"></span>
  <div class="validation-container">
    <span class="icon"></span>
  </div>
  <!--/validation-->

  <span class="invisible-icon"></span>
</div>
