@import "~assets/styles/_components/bootstrap-variables";
@import "~assets/styles/_components/variables";

.icon-before {
	span.label-text {
		left: 5em;
	}
}

@media (max-width: $screen-lg) {
	.icon-before {
		span.label-text {
			left: 6.3em;
		}
	}
}