<section class="main-wrap"> <!-- .middle-width -->

  <div>

    <app-elements-table-main [options]="{
      fields: data.appsFields,
      fieldNames: data.appsFieldNames,
      items: data.apps
    }" (values)="goToUserTracks($event)"></app-elements-table-main>

    <b>add new app</b>

    <div class="content">

      <!--AppName-->
      <div class="row email-cont">
        <div class="col-md-6">
          <app-elements-control-input [options]="{
            title: 'AppName',
            value: data.newApp.values.AppName,
            classes: [],
            errors: data.newApp.errors.AppName,
            isChecked: data.newApp.isChecked.AppName,
            isStrictValue: true
          }" (values)="setApp($event, data.newApp.fields.AppName)"></app-elements-control-input>
        </div>
      </div>
      <!--/AppName-->

      <button class="btn" (click)="sendApp()">Submit</button>

    </div>

  </div>
</section>
