<section class="main-wrap"> <!-- .middle-width -->

  <div>

    <app-elements-table-main [options]="{
      fields: data.noteFields,
      fieldNames: data.noteFieldNames,
      items: data.notes
    }"></app-elements-table-main>
    <!--add to each field button to publish -> updateNote(noteID, isPublished)-->

    <b>add new note</b>

    <div class="content">
      <!--AppName-->
      <div class="row email-cont">

        <div class="col-md-8">
          <app-elements-control-input [options]="{
            title: 'AppName',
            value: data.newNote.values.VersionNumber,
            classes: [],
            errors: data.newNote.errors.VersionNumber,
            isChecked: data.newNote.isChecked.VersionNumber,
            isStrictValue: true
          }" (values)="setNote($event, data.newApp.fields.VersionNumber)"></app-elements-control-input>
        </div>

        <div class="col-md-8">
          <app-elements-control-input [options]="{
            title: 'AppName',
            value: data.newNote.values.ReleaseNotes,
            classes: [],
            errors: data.newNote.errors.ReleaseNotes,
            isChecked: data.newNote.isChecked.ReleaseNotes,
            isStrictValue: true
          }" (values)="setNote($event, data.newNote.fields.ReleaseNotes)"></app-elements-control-input>
        </div>

        <div class="col-md-8">
          <app-elements-control-input [options]="{
            title: 'AppName',
            value: data.newNote.values.ReleaseDate,
            classes: [],
            errors: data.newNote.errors.ReleaseDate,
            isChecked: data.newNote.isChecked.ReleaseDate,
            isStrictValue: true
          }" (values)="setNote($event, data.newApp.fields.ReleaseDate)"></app-elements-control-input>
        </div>
      </div>
      <!--/AppName-->

      <button class="btn" (click)="sendNote()">Submit</button>

    </div>

  </div>
</section>
