@import "~assets/styles/_components/bootstrap-variables";
@import "~assets/styles/_components/variables";
@import "~assets/styles/_components/functions";
@import "~assets/styles/_components/mixins";
@import "~assets/styles/_components/typography";

.user-sidebar {
	background-color: $light-grey-bg;
	border: 1px solid $light-border;
	border-radius: 4px;
	padding: 1rem;
	width: 30%;

	.user-info {
		.thumb {
			display: inline-block;
			width: 20%;
			vertical-align: top;
			img {
				max-width: 100%;
			}
		}
		.info {
			display: inline-block;
			width: 70%;
			vertical-align: top;
		}
	}
}