.dropdown-list {
  z-index: 2;
  &.empty:before {
    content: none;
  }

  li:hover,
  li.active {
    color: #fafcff;
    background-color: #0d87de;
  }

  .mark {
    content: "\e001";
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 1em;
    height: 1em;
    font-size: 1.3em;
    color: #45474a;

    &.closed {
      transform: rotate(180deg);
    }
    &:before {
      content: "\e001";
    }
  }
}


