<div class="input-container dropdown-list active"
     [ngClass]="{
       focused: configs.isFocus,
       empty: options.options.length === 0,
       active: configs.isOpen === false
     }"
     (mouseenter)="configs.isMouseleave = false" (mouseleave)="configs.isMouseleave = true">

  <span class="label-text" [innerHtml]="options.name" (click)="optionInit()"></span>

  <input type="text" [(ngModel)]="data.value" class="form-control"
         (click)="optionInit()" (keyup)="startWrite()"
         [ngModelOptions]="{standalone: true}">

  <span class="mark" (click)="toggleActive()" [ngClass]="{closed: configs.isOpen === false}"
        [hidden]="options.options.length === 0"></span>

  <ul *ngIf="options.options.length !== 0" class="dropdown">
    <li *ngFor="let option of options.options, let ind = index" (click)="optionChoose(ind)"
        [ngClass]="{active: data.chosen[ind] === true}"
        [innerHtml]="option"></li>
  </ul>

</div>
