.horizontal-sliders {

	li {
		margin-bottom: 0.85rem;
	}
	
	.top {
		margin-bottom: 0.7rem;
		&:after {
			content: '';
			display: block;
			clear: both;
			width: 100%;
		}
	}

	.sl-label {
		display: inline-block;
		color: $placeholder;
		position: relative;
		top: 5px;
	}

	.percentage {
		display: inline-block;
		background-color: $green;
		color: $light-paragraph;
		float: right;
		padding: 0.25rem 0.5rem 0.15rem;
		border-radius: 5px;
		font-size: 0.85em;
	}

	.slider {
		background-color: $darker-grey-bg;
		width: 100%;
		height: 1rem;
		border-radius: 20px;
		position: relative;
		overflow: hidden;
		.hr-progress-bar {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			&.red {
				background-color: #ff4a43;
			}
			&.blue {
				background-color: #1ab1e1;
			}
			&.green {
				background-color: #a2d200;
			}
			&.orange {
				background-color: #ffc100;
			}
			&.purple {
				background-color: #cd97eb;
			}
		}
	}
}