.pagination {
	margin: 0.5rem 0;
	li {
		display: inline-block;
		border: 1px solid $light-border;
		border-left: none;
		vertical-align: middle;
		margin-right: -4px;
		overflow: hidden;
		&:first-child {
			border-left: 1px solid $light-border;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
		&:last-child {
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}
	a {
		display: block;
		padding: 0.7rem 1.3rem 0.5rem;
		color: $paragraph !important;
		transition: all 0s !important;
		&.arrow:before {
			content: "\e05d";
			@include icon-font-styles;
			position: relative;
			top: 2px;
		}
		&.arrow-left {
			transform: scaleX(-1);
		}
		&.active,
		&:hover {
			background-color: $main-blue;
			color: $light-paragraph !important;
		}

	}

	&.show-per-page {
		a.active,
		a:hover {
			background-color: $light-grey-hover;
			color: $paragraph !important;
		}
	}
}