.popups {
  display: flex;
  z-index: 999;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  @include background-opacity($purple-bg, 0.5);
  &[hidden],
  & [hidden] {
    display: none !important;
  }

  .wrap {
    background-color: $light-grey-bg;
    border: 1px solid $light-border;
    border-radius: 4px;
    display: inline-block;
    position: relative;
  }
  .inner {
    padding: 2rem;
  }
  .close {
    z-index: 999;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    &:before {
      content: "\e044";
      @include icon-font-styles;
      color: $paragraph;
      font-size: 1.5em;
    }
  }

  h3.title {
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid $light-border;
    .close {
      width: 2rem;
      height: 2rem;
      margin-top: 0.9rem;
      margin-right: 0.9rem;
      &:before {
        font-size: 1em;
      }
    }
  }

  .image-preview {
    .img-cont {
      max-width: 50rem;
      img {
        max-width: 100%;
      }
    }
    .delete {
      width: 4rem;
      height: 4rem;
      display: inline-block;
      position: absolute;
      //bottom: 1rem; -> margin-top (add tumbnails)
      margin-top: -5rem;
      margin-left: -2rem;
      left: 50%;
      &:before {
        content: "\e041";
        @include icon-font-styles;
        font-size: 2.6em;
      }
    }
    .thumbnails {
      margin-top: 2rem;
      overflow-x: hidden;
      &:after {
        content: '';
        display: block;
        width: 100%;
        clear: both;
      }
      ul {
        white-space: nowrap;
        position: relative;
      }
      li {
        display: inline-block;
        width: 16%;
        margin-left: 1%;

        height: 8rem;
        background-size: cover;
        background-position: center;
        position: relative;
        border-radius: 4px;
        transition: $standard-transition;
        &:nth-child(6n+1) {
          margin-left: 0;
        }
        &:hover, &.active {
          transform: scale(0.9, 0.9);
          a {
            background: none;
          }
        }
      }
      a {
        display: block;
        height: 100%;
        width: 100%;
        @include background-opacity($purple-bg, 0.5);
        transition: $standard-transition;
      }
      &.plus6 {
        ul {
          width: 90%;
          margin: 0 auto;
        }
      }
    }
  }

  .upgrade-account {
    .package {
      > label {
        display: block;
      }
    }
    .duration {
      padding: 1rem 0;
      .radio-btn {
        margin-right: 4rem;
        &:last-of-type {
          margin-right: 0;
        }
      }
      label {
        margin-bottom: 1rem;
      }
    }
    .package-dropdown {
      label {
        vertical-align: middle;
        margin-right: 2rem;
        min-width: 8rem;
      }
      select {
        padding: 0.8rem 1rem;
        border: 1px solid $light-border;
        border-radius: 3px;
      }
    }
    .start-from {
      input {
        padding: 0.6em 0.8em 0.5em;
        vertical-align: middle;
        border-radius: 3px;
      }
      label {
        vertical-align: middle;
        margin-right: 2rem;
        min-width: 8rem;
      }
    }
    .btn-cont {
      text-align: right;
      padding-top: 1rem;
    }
    .current-subscription {
      text-align: center;
      padding: 1rem 2rem;
      background-color: $white;
      border: 1px solid $light-border;
      .date {
        color: $main-orange;
      }
    }
  }
}
