$iconWidth: 80px;
$basicMargin: 15px;

@mixin bg($color) {
	background-color: $color;
	.darken-bg {
		background-color: darken($color, 10%);
	}
}

.stat-cards {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 -#{$basicMargin} 3rem;

	&.block {
		display: block;
	}

	.card {
    flex: 1;
    margin: 0 15px;
    color: $light-paragraph;
    border-radius: 4px;
    padding: 2rem;
		&:after {
			content: '';
			display: block;
			width: 100%;
			clear: both;
		}

		&.red-bg {
			@include bg($red);
		}
		&.green-bg {
			@include bg($green);
		}
		&.purple-bg {
			@include bg($purple-bg);
		}
		&.blue-bg {
			@include bg($main-blue);
		}

		.icon {
			float: left;
			width: $iconWidth;
			padding-right: 2rem;
			text-align: center;
			&:before {
				@include icon-font-styles;
				font-size: 5.7rem;
			}
		}

		&.users-icon {
			.icon:before {
				content: "\e061";
			}
		}

		&.eye-icon {
			.icon:before {
				content: "\e020";
			}
		}

		&.money-icon {
			.icon:before {
				content: "\e063";
			}
		}

		&.trash-icon {
			.icon:before {
				content: "\e065";
			}
		}

		&.pause-icon {
			.icon:before {
				content: "\e066";
			}
		}

		.stats {
			float: left;
			width: calc(100% - #{$iconWidth});
		}

		.card-label {
			display: block;
			font-size: 1.2em;
			margin-bottom: 0.5rem;
		}

		.card-table {
			border-collapse: collapse;
			width: 100%;
			font-size: 1.4rem;
		}

		.card-count {
			text-align: left;
			td {
				padding: 0 5px;
			}
			.value {
				padding-left: 10px;
				text-align: right;
			}
		}

		.sub-card {
			width: 100%;
			overflow: hidden;
			padding-top: 2rem;
			[class$="-icon"] {
				&:before {
					content: '';
					@include icon-font-styles;
					position: relative;
					top: 5px;
					margin-right: 5px;
				}
				&.locked-icon:before {
					content: "\e03c";
				}
				&.unlocked-icon:before {
					content: "\e03d";
				}
			}
		}

	}

	@media (max-width: 1367px) {
		flex-wrap: wrap;
		.card {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: calc(50% - (2 * #{$basicMargin}));
			margin-bottom: 1rem;
		}
	}

	@media (max-width: 801px) {
		flex-flow: column nowrap;
	}
}
