.admin-table {
	width: 100%;
	border: 1px solid transparent;
	border-collapse: separate;
	border-spacing: 0px;

	&.separated {
		width: 94%;
		margin: 0 3%;
	}

	td,th {
		border-bottom: 1px solid $light-border;
		padding: 0.8rem 1rem;
		&.fit-width {
			width: 1%;
			white-space: nowrap;
		}
		&.centered {
			text-align: center;
		}
	}

	th {
		font-weight: 700;
		&.flag {
			img {
				max-width: 2.5rem;
			}
		}
	}

	tfoot {
		background-color: $darker-grey-bg;
		font-weight: 700;
		tr.total {
			background-color: $green;
			color: $light-paragraph;
		}
	}

	td.flag-bf {
		&:before {
			content: '';
			display: inline-block;
			@include icon-font-styles;
			background-size: cover;
			width: 2rem;
			height: 1.2rem;
			margin-right: 3px;
		}
	}
}
