.tile {
	background-color: $light-grey-bg;
	border: 1px solid $light-border;
	margin-bottom: 3rem;
	border-radius: 4px;

	.tile-header {
		border-bottom: 1px solid $light-border;
		h3 {
			margin: 0;
			padding: 1rem 1.5rem;
			font-size: 0.9em;
			display: inline-block;
		}

		.controls {
			float: right;
			a {
				display: inline-block;
				padding: 0.9rem 1.5rem;
				border-left: 1px solid $light-border;
				color: $paragraph;
				&:before {
					content: "\e00f";
					@include icon-font-styles;
					font-size: 1.1em;
					position: relative;
					top: 3px;
				}
				&:hover {
					color: $main-orange;
				}
			}
		}

		.total {
			float: right;
			padding: 1.3rem 1.5rem;
			span.number {
				color: $main-orange;
				font-weight: 700;
			}
		}
	}

	.tile-body {
		padding: 1rem 1.5rem;
		&.table-body {
			padding: 0;
		}
		p {
			margin: 0;
		}
		img {
			max-width: 100%;
		}
	}
}