.top-filter {
	background-color: $light-grey-bg;
	border: 1px solid $light-border;
	margin-bottom: 3rem;
	border-radius: 4px;

	&:after {
		content: '';
		display: block;
		width: 100%;
		clear: both;
	}

	.choose-country {
		float: right;
		margin-right: 1rem;
		padding: 0.35rem 0;
		select {
			padding: 0.5rem 1rem;
			border-radius: 4px;
		}
	}

	.date-range {
		float: right;
		position: relative;

		.value {
			a {
				padding: 1rem 1.5rem;
				display: inline-block;
				color: $light-paragraph;
				background-color: $purple-bg;
				transition: $standard-transition;
				&:before,
				&:after {
					@include icon-font-styles;
					position: relative;
					top: 2px;
				}
				&:before {
					content: "\e000";
					margin-right: 10px;
				}
				&:after {
					content: "\e001";
					margin-left: 10px;
				}
				&:hover {
					background-color: $light-purple-bg;
					color: $placeholder;
				}
			}
		}

		.dropdown-pick {
			background-color: $light-grey-bg;
			border: 1px solid $light-border;
			border-radius: 4px;
			box-shadow: 0px 5px 8px -2px rgba(0,0,0,0.3);

			position: absolute;
			right: 0;
			z-index: 1;
			
			top: 120%;
			visibility: hidden;
			opacity: 0;

			transition: $standard-transition;

			&.active {
				top: 105%;
				visibility: visible;
				opacity: 1;
			}

			ul {
				min-width: 20rem;
			}
			li {
				
				a {
					display: block;
					background-color: $darker-grey-bg;
					border-bottom: 1px solid $light-border;
					padding: 1rem 2rem;
					color: $paragraph;
					font-size: 0.95em;
					
					&:hover {
						background-color: $light-grey-hover;
						color: $main-orange;
					}
				}
			}

			.custom-range {
				text-align: center;
				padding: 1rem;
				h5 {
					margin-top: 0;
				}
				&:after {
					content: '';
					display: block;
					width: 100%;
					clear: both;
				}
				input[type='text'] {
					float: left;
					padding: 0.4rem 0.3rem 0.3rem;
					display: inline-block;
					width: 10rem;
					text-align: center;
					border-radius: 2px;
					margin: 0 0.5rem;
				}
			}

			.buttons {
				padding: 0 1.5rem 1rem;
			}
		}
	}
}