<app-templates-header-main *ngIf="configs.isAuth === true"></app-templates-header-main>
<app-templates-sidebar-main *ngIf="configs.isAuth === true"></app-templates-sidebar-main>
<router-outlet></router-outlet>
<app-templates-footer-main *ngIf="configs.isAuth === true"></app-templates-footer-main>
