<div class="pagination">
  <div class="head">
    <div class="selector">
      <mat-form-field>
        <mat-label>Show entries</mat-label>
        <mat-select [(value)]="configs.showCnt" (selectionChange)="setShowCnt()">
          <mat-option *ngFor="let showCnt of configs.showCntOptions" [value]="showCnt"
                      [innerHtml]="showCnt"></mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th *ngFor="let field of data.fields">
        <span [innerHtml]="data.fieldNames[field]"></span>

        <i *ngIf="configs.sorting[field] === undefined" (click)="setSorting(field)" class="fa fa-sort"></i>
        <i *ngIf="configs.sorting[field] === true" (click)="setSorting(field)" class="fa fa-sort-amount-asc"></i>
        <i *ngIf="configs.sorting[field] === false" (click)="setSorting(field)" class="fa fa-sort-amount-desc"></i>
        <i class="fa fa-filter" (click)="showFilter(field)"></i>
      </th>
    </tr>
    <tr [hidden]="!configs.isFilter">
      <th></th>
      <th *ngFor="let field of data.fields">
        <label>
          <input type="text" class="form-control" [(ngModel)]="configs.filter[field]" (keyup)="filter()"
                 [placeholder]="field" [ngModelOptions]="{standalone: true}">

          <i *ngIf="configs.filter[field]" class="fa fa-times" (click)="removeFilter(field)"></i>
        </label>

        <div *ngIf="data.filterSelector[field]">
          <b *ngFor="let valueSelect of data.filterSelector[field]" (click)="filter(field, valueSelect)"
             [style.display]="'block'" [innerHtml]="valueSelect"></b>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of data.items; let ind = index">
      <th scope="row">
        <span [innerHtml]="ind + configs.start"></span>

        <!--<span class="tooltip"
              [ngStyle]="{left: configs.tooltip.left + 'px', top: configs.tooltip.top + 'px'}"
              [innerHtml]="userID"></span>

        <div *ngIf="data.userShorts[userID]" class="tooltip profile" (click)="goToProfile(userID)">
          <div class="thumb">
            <img [src]="data.userShorts[userID].__ava.tiny">
          </div>
          <div class="details">
            <span [innerHtml]="data.userShorts[userID].name + ' ' + data.userShorts[userID].lname"></span>
            <br>
            <span
              [innerHtml]="data.userShorts[userID].gender === 'M' ? 'Male' : 'Female' + ' - ' + data.userShorts[userID].__age"></span>
            <br>
            <span [innerHtml]="data.userShorts[userID].area"></span>
          </div>
        </div>-->
      </th>
      <td *ngFor="let field of data.fields" scope="col" class="column">
        <span (click)="clickItem(ind + configs.start - 1, field, item)" [innerHtml]="item[field]"></span>

        <div *ngIf="data.fieldsHover.indexOf(field) !== -1" class="tooltip">
          <span *ngFor="let itemHover of item[data.fieldsHoverSet[field]]" [innerHtml]="itemHover"></span>
        </div>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <th scope="col">#</th>
      <th *ngFor="let field of data.fields" scope="col" [innerHtml]="data.fieldNames[field]"></th>
    </tr>
    </tfoot>
  </table>

  <div class="foot">
    <span [innerHtml]="'Showing '+configs.start+' to '+configs.end+' of '+data.itemsSource.length+' entries'"></span>

    <ul class="action">
      <li>
        <a (click)="goPrevious()">Previous</a>
      </li>
      <li *ngFor="let page of configs.pages; let ind = index">
        <a (click)="setPage(page, ind)" [ngClass]="{active: page === configs.currentPage}" [innerHtml]="page"></a>
      </li>
      <li>
        <a (click)="goNext()">Next</a>
      </li>
    </ul>
  </div>
</div>
