@import "../../../../assets/styles/_components/variables";
@import "../../../../assets/styles/_components/bootstrap-variables";

@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}

.pagination {
  width: 100%;

  .head,
  .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  table {
    width: 100%;

    thead {
      th {
        cursor: pointer;
        vertical-align: top;
      }

      .fa {
        margin-left: 1rem;
      }

      input {
        padding: 0.7em 1.2em;
        float: left;
      }

      .fa-times {
        margin-left: -19px;
        margin-top: 14px;
        color: red;
      }

      //.ico.icon-arrow-down {
      //  &:before {
      //    display: inline-block;
      //    @include rotate(-90deg);
      //  }
      //
      //  &.asc:before {
      //    font-weight: bolder;
      //    @include rotate(0);
      //  }
      //  &.desc:before {
      //    font-weight: bolder;
      //    @include rotate(180deg);
      //  }
      //}
    }

    tbody {
      .tooltip {
        background-color: white;
        border: solid 1px black;
        padding: 1rem;
        border-radius: 5px;
      }

      .column:hover {
        .tooltip {
          opacity: 1;
        }
      }
    }
  }

  //.foot {
  //  li {
  //    &.active {
  //      background-color: yellow;
  //    }
  //  }
  //}

}
