<section class="login-cont">

  <div class="logo"></div>

  <!--<div class="signin-btn">
    <div class="g-signin2" data-width="280" data-height="60" data-longtitle="true" #googleBtn></div>
  </div>-->

  <div class="signin-btn">
    <div id="googleBtnManual" #googleBtnManual></div>
  </div>

</section>
