@import "~assets/styles/_components/bootstrap-variables";
@import "~assets/styles/_components/variables";
@import "~assets/styles/_components/functions";
@import "~assets/styles/_components/mixins";
@import "~assets/styles/_components/typography";

.login-cont {
	@include background-opacity($light-grey-bg, 0.05);
	color: $light-grey-bg;
	padding: 1.5em 2em 2em;
	border-radius: 5px;
	border: 1px solid rgba($light-paragraph, 0.25);
	margin: 0 auto 0;
	max-width: 50rem;
	.logo {
		text-align: center;
		margin-bottom: 2rem;
	}
}

.signin-btn {
	max-width: 280px;
	margin: 0 auto;
}