<div class="input-container" [ngClass]="{
  error: data.errors.length > 0,
  success: data.errors.length === 0 && options.isChecked === true
}">
  <span class="message"></span>
  <label class="radio-btn">
    <span [innerHtml]="options.title"></span>
    <div>
      <mat-form-field class="mat-input-container mat-form-field ">
        <input matInput readonly [matDatepicker]="picker" [min]="configs.minDate" [max]="configs.maxDate"
               [(ngModel)]="data.resultDate" (ngModelChange)="onChange()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker [startAt]="data.startDate"></mat-datepicker>
      </mat-form-field>
    </div>
  </label>

  <!--validation-->
  <span *ngFor="let error of data.errors" class="message" [innerHtml]="error"></span>
  <div class="validation-container">
    <span class="icon"></span>
  </div>
  <!--/validation-->
</div>
