.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

/* * * * * * * * * * ANIMATION KEYFRAMES * * * * * * * * * * * * */
@keyframes bounceInDown {
  from, 50%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    transform: translate3d(0, -5px, 0);
  }

  50% {
    transform: translate3d(0, 10px, 0);
  }

  to {
    transform: translate3d(0, -5px, 0);
  }
}

.bounceInDown {
  animation-name: bounceInDown;
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}

@keyframes writingCircles {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.25, 1.25, 1.25);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.writingCircles {
  animation-name: writingCircles;
}

/* * * * * * * * * * * * * * * * * * * * * * */
/* * * * * LOADER STYLES * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * */

.loader-wrap {
  position: absolute;
}

.loader {
  background-color: $white;
  border-radius: 4px;
  border: 1px solid $light-border;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 4em;
  div {
    left: 27px;
    top: 12px;
    position: absolute;
    -webkit-animation: lds-spinner linear 1s infinite;
    animation: lds-spinner linear 1s infinite;
    background: $main-blue;
    width: 3px;
    height: 10px;
    border-radius: 20%;
    -webkit-transform-origin: 2px 20px;
    transform-origin: 2px 17px;
    &:nth-child(1) {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-animation-delay: -0.875s;
      animation-delay: -0.875s;
    }
    &:nth-child(2) {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-animation-delay: -0.75s;
      animation-delay: -0.75s;
    }
    &:nth-child(3) {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      -webkit-animation-delay: -0.625s;
      animation-delay: -0.625s;
    }
    &:nth-child(4) {
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
    }
    &:nth-child(5) {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      -webkit-animation-delay: -0.375s;
      animation-delay: -0.375s;
    }
    &:nth-child(6) {
      -webkit-transform: rotate(225deg);
      transform: rotate(225deg);
      -webkit-animation-delay: -0.25s;
      animation-delay: -0.25s;
    }
    &:nth-child(7) {
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
      -webkit-animation-delay: -0.125s;
      animation-delay: -0.125s;
    }
    &:nth-child(8) {
      -webkit-transform: rotate(315deg);
      transform: rotate(315deg);
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
    }
  }

  &.small {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    div {
      left: 5px;
      top: 1px;
      width: 1px;
      height: 5px;
      border-radius: 0;
      -webkit-transform-origin: 2px 5px;
      transform-origin: 2px 5px;
    }
  }

  &.large {
    width: 8em;
    height: 8em;
    div {
      left: 54px;
      top: 24px;
      position: absolute;
      -webkit-animation: lds-spinner linear 1s infinite;
      animation: lds-spinner linear 1s infinite;
      background: $main-blue;
      width: 6px;
      height: 20px;
      border-radius: 20%;
      -webkit-transform-origin: 4px 40px;
      transform-origin: 4px 34px;
      &:nth-child(1) {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-animation-delay: -0.875s;
        animation-delay: -0.875s;
      }
      &:nth-child(2) {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-animation-delay: -0.75s;
        animation-delay: -0.75s;
      }
      &:nth-child(3) {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-animation-delay: -0.625s;
        animation-delay: -0.625s;
      }
      &:nth-child(4) {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        -webkit-animation-delay: -0.5s;
        animation-delay: -0.5s;
      }
      &:nth-child(5) {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-animation-delay: -0.375s;
        animation-delay: -0.375s;
      }
      &:nth-child(6) {
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
        -webkit-animation-delay: -0.25s;
        animation-delay: -0.25s;
      }
      &:nth-child(7) {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        -webkit-animation-delay: -0.125s;
        animation-delay: -0.125s;
      }
      &:nth-child(8) {
        -webkit-transform: rotate(315deg);
        transform: rotate(315deg);
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
      }
    }
  }
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
