//BOOTSTRAP OVERIDES
.btn {
	padding:15px 30px;
	text-transform:uppercase;
	outline: none;
	outline-offset: 0;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
a,
a:focus {
	outline: none;
	outline-offset: 0;
}

.tooltip-inner {
	padding:7px 9px;
	font-size:16px;
	background-color:$error-color;
}

@media (max-width: $screen-lg) {
	.btn {
		padding: 10px 25px;
	}
}