.btn {
	padding: 8px 15px;
}
.btn-lg {
	padding: 15px 30px;
	font-size: 16px;
	border-radius: 5px;
}
.btn:active, .btn.active {
	box-shadow:none;
}
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
	outline:none;
	outline-offset:0;
}
.btn-orange-grad {
	@include button-variant($light-paragraph, $main-orange, transparent);
	@include orange-gradient;
	text-transform: uppercase;
	@at-root {
		a#{&} {
			color: $light-paragraph;
		}
	}
}
.btn-remove {
	@include button-variant($light-paragraph, $error-color, transparent);
	text-transform: uppercase;
	@at-root {
		a#{&} {
			color: $light-paragraph;
		}
	}
	&:before {
		content: "\e044";
		@include icon-font-styles;
		position: relative;
		top: 2px;
		margin-right: 5px;
	}
}
.btn-purple-grad {
	@include button-variant($light-paragraph, $purple-bg, transparent);
	@include purple-gradient;
	text-transform: uppercase;
	@at-root {
		a#{&} {
			color: $light-paragraph;
		}
	}
}
.btn-white-transparent {
	@include button-variant($light-paragraph, rgba($light-paragraph,0.3), $light-paragraph);
}
.btn-dark-transparent {
	@include button-variant($light-paragraph, rgba($dark-grey-bg,0.6), transparent);
}
.btn-grey-transparent {
	@include button-variant($paragraph, transparent, $light-border);
}
.btn-block {
	width:100%;
}
.btn-small {
	@include button-size(10px,20px,0.9em,1.4em,4px);
}
.btn-facebook {
	@include button-variant($light-paragraph, #3b5998, transparent);
}
.btn-icon:before,
.btn-icon:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	position: relative;
	@include transition(left 0.1s linear);
}
.btn-icon:before {
	top:-2px;
	left: -10px;
}
.btn-icon:after {
	left: 8px;
	top: -1px;
}
.btn-icon {
	&.btn-facebook:before {
		content: "\e009";
		top:-1px;
		left: -8px;
	}
	&.btn-sign-in:before {
		content: "\e00e";
	}
	&.btn-register:before {
		content: "\e014";
	}
	&.btn-next-arrow {
		&:after {
			content: "\e004";
		}
		&:hover:after {
			left: 13px;
		}
	}
	&.btn-add-favourite:before {
		content: "\e033";
		top: -1px;
		color: $yellow;
	}
}
.btn-play {
	padding:0;
	background:none;
	text-align:left;
	&:before {
		content: '\f01d';
		font-family: FontAwesome;
		width: 1em;
		height: 1em;
		border-radius:30px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 0.3em;
		font-size: 1.5em;
		position: relative;
		top:-0.25em;
	}
}

.dwn-app-btn {
	text-indent: -9999px;
	width:11em;
	padding: 15px 30px;
}

.bck-top-btn {
	width:4em;
	height:4em;
	position: fixed;
	right:3em;
	bottom:0;
	z-index: 500;
	background-color:$light-grey-bg;
	background-color:rgba($light-grey-bg,0.9);
	border:1px solid $light-border;
	border-radius:5px;
	opacity: 0;
	visibility:hidden;
	transition:$standard-transition;
	&.visible {
		opacity: 1;
		visibility: visible;
		bottom:3em;
	}
	&:hover {
		bottom:3.2em;
	}
	a {
		display: flex;
		height: 100%;
		width: 100%;
		align-items:center;
		justify-content: center;
		&:before {
			font-size: 2.3em;
		}
	}
}

:lang(sv) {
	.dwn-app-btn {
		&.app-store-light-btn {
			@include cover-image(url-replace(#{$images-path}get-apple-btn-light-swedish.png));
		}
		&.ggl-play-light-btn {
			@include cover-image(url-replace(#{$images-path}get-google-pl-btn-light-swedish.png));
		}
	}
}
