input.form-control {
  margin-bottom: 1.5em;
  font-size: 15px;
  background-color: $light-grey-bg;
}

label {
  font-weight: normal;
  cursor: pointer;
  @include inline-block-fix;
}

.form-column {
  @include inline-block-fix;
  width: 49%;
}

.form-column:nth-child(even) {
  margin-left: 2%;
}

.input-container {
  position: relative;
  & > span {
    position: absolute;
    transition: all 0.2s ease;
    &.label-text {
      color: $paragraph;
      left: 1.6em;
      top: 1.6em;
      z-index: 1;
    }
    &.message {
      bottom: 120%;
      top: auto;
      left: 0;
      width: 100%;
      color: $light-paragraph;
      font-size: 0.9em;
      padding: 0.7em 1em 0.6em;
      border-radius: 5px;
      line-height: 1.5em;
      display: block;
      text-transform: uppercase;
      text-align: center;
      opacity: 0;
      background-color: $error-color;
      visibility: hidden;
      transition: $standard-transition;
      &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 45%;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid $error-color;
      }
    }
  }
  &.radio-btns-cont {
    min-height: 9rem;
    span.message {
      top: -2.5em;
      bottom: auto;
    }
    .label-text {
      position: static;
      display: block;
      margin-bottom: 1.2rem;
    }
    &.inline-radio {
      label {
        margin-right: 3rem;
      }
    }
  }
  &.focused > span.label-text {
    left: 1.6em;
    top: 0.9em;
    font-size: 1em;
    z-index: 1;
    color: $placeholder;
  }
  span[class^='icon-'] {
    position: absolute;
    width: 1em;
    height: 1em;
    top: 24px;
    right: 24px;
    left: auto;
    font-size: 1.3em;
    color: $icon-color;
  }
  span.icon-calendar {
    right: 24px;
    top: 24px;
    font-size: 1.3em;
  }
  span.icon-android-search {
    right: 20px;
    top: 20px;
    font-size: 2em;
    color: $grey-faded-icon;
  }
  &.zip-code {
    width: 50%;
    .icon-flag {
      width: 30px;
    }
    &.focused:not(.success) + .zip-code-info {
      opacity: 1;
      visibility: visible;
    }
  }
  &.light {
    input[type="text"],
    input[type="password"],
    input[type="email"] {
      border-color: $light-border;
      background-color: $white;
    }
  }
  &.icon-before {
    &:before, &:after {
      content: '';
      display: flex;
      position: absolute;
      @include icon-font-styles;
      color: $light-paragraph;
      align-items: center;
      justify-content: center;
    }
    &:before {
      background-color: $purple-bg;
      height: 100%;
      width: 6rem;
      left: 0;
      top: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      font-size: 1.6em;
    }
    &:after {
      height: 2rem;
      width: 2rem;
      font-size: 0.7em;
      border-radius: 20px;
      background-color: $purple-bg;
      border: 2px solid $light-border;
    }
    &.mobile-icon {
      &:before {
        content: "\e030";
      }
      &:after {
        top: 1.3rem;
        left: 2.8rem;
      }
    }
    &.email-icon {
      &:before {
        content: "\e00c";
      }
      &:after {
        top: 1.7rem;
        left: 3.1rem;
      }
    }
    &.verified:after {
      content: "\e010";
      color: $success-color;
      border-color: $success-color;
    }
    &.not-verified:after {
      content: "\e00f";
      color: $error-color;
      border-color: $error-color;
    }
    input[type="text"], input[type="password"], input[type="email"] {
      padding-left: 4.9em;
    }
    .label-text {
      left: 5em;
    }
  }
  &.invisible-public {
    .invisible-icon {
      right: 2rem;
      top: 2.6rem;
      &:before {
        content: "\e03e";
        @include icon-font-styles;
        font-size: 1.2em;
        color: $purple-bg;
      }
    }
  }
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 2.2em 1.5em 0.9em;
  border: 1px solid $light-border;
  -webkit-appearance: none;
  height: auto;
}

textarea.form-control {
  resize: none;
  min-height: 10em;
  padding: 1.5em 1.6em;
}

input[type="password"] {
  letter-spacing: 5px;
}

.form-control:focus {
  border-color: $main-blue;
}

label.radio-btn {
  padding-right: 6px;
  input[type='checkbox'],
  input[type='radio'] {
    display: none;
  }
  span.circle {
    width: 18px;
    height: 18px;
    border-radius: 9px;
    display: inline-block;
    background-color: $light-grey-bg;
    vertical-align: top;
    margin-right: 6px;
    border: 2px solid $light-border;
    position: relative;
  }
  input[type='radio']:checked + span {
    border-color: $main-blue;
  }
  input[type='radio'] + span:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    left: 3px;
    top: 3px;
    background-color: $main-blue;
    display: block;
    transform: scale(0.0, 0.0);
    transition: all 0.2s ease;
  }
  input[type='radio']:checked + span:before {
    transform: scale(1.0, 1.0);
  }
}

.radio-group {
  label.radio-btn {
    margin-right: 4rem;
  }
}

label.checkbox-btn {
  padding-right: 6px;
  input[type='checkbox'] {
    display: none;
  }
  span.square {
    width: 18px;
    height: 18px;
    display: inline-block;
    background-color: $light-grey-bg;
    vertical-align: top;
    margin-right: 6px;
    border: 2px solid $light-border;
    position: relative;
  }
  span.square.checked {
    border-color: $main-blue;
  }
  input[type='checkbox']:checked + span.square {
    background-color: $main-blue;
    border: 2px solid darken($main-blue, 5%);
  }
  input[type='checkbox'] + span.square:before {
    content: '\e010';
    color: $light-paragraph;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    display: block;
    font-size: 0.8em;
    text-align: center;
    transform: scale(0.0, 0.0);
    transition: $standard-transition;
  }
  input[type='checkbox']:checked + span.square:before {
    transform: scale(1.0, 1.0);
  }
  p {
    display: inline;
  }
}

label.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  input {
    display: none;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $placeholder;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    &.round {
      border-radius: 34px;
      &:before {
        border-radius: 50%;
      }
    }
  }
  input:checked {
    + .slider {
      background-color: $main-blue;
      &:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
    }
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
}

.validation-container {
  position: absolute;
  top: 1.6em;
  right: 1.3em;
  width: 23px;
  height: 23px;
  border: 1px solid transparent;
  border-radius: 20px;
  text-align: center;
  display: none;
  align-items: center;
  span {
    display: block;
    margin: 0 auto;
    font-size: 0.7em;
    &:before {
      display: block;
    }
  }
}

.radio-buttons-container {
  .validation-container {
    top: 2.9em;
    right: 0;
  }
  span.label-text {
    position: static;
    display: block;
    margin-bottom: 0.5rem;
  }
}

.input-container {
  &.error {
    color: $error-color;
    .validation-container {
      border-color: $error-color;
      display: flex;
      span.icon:before {
        content: '\e00f';
      }
    }
    input[type="text"],
    input[type="password"],
    input[type="email"] {
      border-color: $error-color;
    }
  }
  &.success {
    color: $success-color;
    .validation-container {
      display: flex;
      border-color: $success-color;
      span.icon:before {
        content: '\e010';
      }
    }
    input[type="text"],
    input[type="password"],
    input[type="email"] {
      border-color: $success-color;
    }
  }
  &.disp-message {
    span.message {
      bottom: 115%;
      visibility: visible;
      opacity: 1;
    }
    &.radio-btns-cont {
      span.message {
        top: -2em;
        bottom: auto;
      }
    }
  }
  &.error:hover {
    span.message {
      bottom: 115%;
      visibility: visible;
      opacity: 1;
    }
    &.radio-btns-cont {
      span.message {
        top: -2em;
        bottom: auto;
      }
    }
  }
}

.range-slider {
  .slider-values {
    position: relative;
    span {
      background-color: $main-blue;
      color: $light-paragraph;
      padding: 0.4em 0.9em;
      border-radius: 3px;
      position: absolute;
      z-index: 2;
      white-space: nowrap;
      &:before {
        content: '';
        position: absolute;
        left: 41%;
      }
    }
  }
  &.top-values {
    margin-top: 4em;
    .slider-values {
      top: -3.3em;
      span:before {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid $main-blue;
        top: 100%;
      }
    }
    .label.top {
      display: none;
    }
  }
  &.bottom-values {
    margin-bottom: 1em;
    .slider-values {
      top: 4.3em;
      span:before {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid $main-blue;
        bottom: 100%;
      }
    }
    .label.bottom {
      display: none;
    }
  }
  .label {
    margin-top: 0;
    font-size: 1em;
    text-align: left;
    margin-bottom: 1.2em;
    color: $paragraph;
  }
  &.light {
    .label {
      color: $light-paragraph;
    }
  }
}

.date-picker {
  .calendar {
    position: absolute;
    top: 125%;
    right: 0;
    width: 100%;
    max-width: 25em;
    background-color: $light-grey-bg;
    border: 1px solid $light-border;
    border-radius: 5px;
    z-index: 10;
    color: $paragraph;
    opacity: 0;
    visibility: hidden;
    transition: $standard-transition;
    select {
      width: 100%;
      padding: 0.8em 0.5em;
      background-color: $light-grey-bg;;
      border: none;
      option {
        padding: 0.2em 0;
      }
    }
    a {
      color: $paragraph;
    }
    a:hover {
      transform: scale(2.05, 2.05);
    }
    .cal-header {
      border-bottom: 1px solid $light-border;
    }
    .cal-month,
    .cal-year {
      @include inline-block-fix;
    }
    .cal-month {
      width: 70%;
      border-right: 1px solid $light-border;
    }
    .cal-year {
      width: 30%;
    }
    table {
      width: 100%;
      text-align: center;
      margin: 0.5em 0.2em;
      table-layout: fixed;
      thead {
        color: $placeholder;
      }
      td {
        padding: 0.5em 0;
      }
      td.not-current {
        color: $placeholder;
      }
    }
    &.open {
      visibility: visible;
      opacity: 1;
      top: 115%;
    }
  }
  .validation-container {
    border: none;
    right: 3em;
  }
}

.dropdown-list {
  z-index: 3 !important;
  cursor: pointer;
  //&:before {
  //  content: "\e001";
  //  @include icon-font-styles;
  //  position: absolute;
  //  top: 24px;
  //  right: 24px;
  //  width: 1em;
  //  height: 1em;
  //  font-size: 1.3em;
  //  color: $paragraph;
  //}
  ul.dropdown {
    position: absolute;
    width: 100%;
    max-height: 16em;
    top: 140%;
    background-color: $light-grey-bg;
    border: 1px solid $light-border;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: $standard-transition;
    @include box-shadow(0px, 6px, 23px, -7px, rgba(0, 0, 0, 0.5));
    @include scroll-styles($main-blue);
  }
  &.active {
    z-index: 5 !important;
    ul.dropdown {
      top: 120%;
      opacity: 1;
      visibility: visible;
    }
  }
  &.show-top {
    ul.dropdown {
      top: auto;
      bottom: 140%;
    }
    &.active {
      top: auto;
      bottom: 120%;
    }
  }
  li {
    background-color: $light-grey-bg;
    color: $paragraph;
    padding: 0.9em 1em 0.8em;
    cursor: pointer;
    @include transition(all 0.05s linear);
    &:hover {
      color: $light-paragraph;
      background-color: $main-blue;
    }
  }
  .form-control[readonly] {
    background-color: $light-grey-bg;
  }
}

form.light {
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    border-color: $light-border;
    background-color: $white;
  }
}

/* * * * * * * * * * * * * * * * * * */
/* * * * * jQuery UI overrides * * * * */
/* * * * * * * * * * * * * * * * * * */
.ui-slider {
  .ui-slider-range {
    background-color: $main-blue;
  }
  .ui-slider-handle {
    width: 1.6em;
    height: 1.6em;
    top: -0.5em;
  }
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  background-color: $light-grey-bg;
  border-color: $light-border;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #003eff;
  background: $main-blue;
  font-weight: normal;
  color: #ffffff;
}

/* * * * * * * * * * * * * * * * * * */
/* * * * * BOOTSTRAP OVERRIDES * * * * */
/* * * * * * * * * * * * * * * * * * */
.label {
  display: block;
  padding: 0;
  margin-top: 1.5em;
  font-size: 0.9em;
  line-height: 1;
  color: $light-paragraph;
  text-align: left;
  white-space: nowrap;
  vertical-align: baseline;
  font-weight: normal;
}

/* * * * * * * * * * * * * * * * * * */
/* * * * * SMALLER DESCTOPS * * * * */
/* * * * * * * * * * * * * * * * * * */
@media (max-width: $screen-lg) {
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    padding: 1.8em 1.2em 0.7em;
  }

  .input-container {
    position: relative;
    span.label-text {
      left: 1.5em;
      font-size: 0.9em;
      top: 1.55em;
      z-index: 1;
    }
    &.focused > span.label-text {
      left: 1.6em;
      top: 0.9em;
      font-size: 0.8em;
      z-index: 1;
    }
    span[class^='icon-'] {
      top: 20px;
      right: 20px;
      left: auto;
    }
  }
  .validation-container {
    top: 1.2em;
    right: 1.2em;
  }
  .range-slider {
    margin-top: 3.5em;
  }
  .icon-before {
    span.label-text {
      left: 6.3em;
    }
  }
}

@media (max-width: $screen-md) {
  .input-container {
    .icon-before {
      &:before {
        width: 5rem;
        font-size: 1.2em;
      }
      &:after {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

@media (max-width: $screen-xs) {
  .range-slider.bottom-values {
    margin-top: 1.5em;
  }
  .form-column {
    width: 100%;
    &:nth-child(odd) {
      margin-right: 0;
    }
  }

  .input-container {
    span.icon-android-search {
      top: 15px;
      right: 15px;
    }
  }
}
