html,body {
	height: 100%;
}
//Web apps body
body {
	background:$darker-grey-bg;
}
.vertical-center {
	min-height:100%;
	display:flex;
	align-items:center;
}

::selection {
  background: $main-orange; /* WebKit/Blink Browsers */
  color: $light-paragraph;
}
::-moz-selection {
  background: $main-orange; /* Gecko Browsers */
  color: $light-paragraph;
}
body::-webkit-scrollbar {
    width: 0.6em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: $main-orange;
  outline: 1px solid slategrey;
  border-radius: 5px;
}

*[class^="icon-"]:before {
	position:relative;
	top:2px;
}

.admin-app {
	padding-top: 7rem;
	&.login-page {
		padding-top: 15rem;
		background-image: url-replace("/src/assets/images/login-bg.jpg");
	}
}

.main-wrap {
	width: 80%;
	margin-left: 25rem;
	padding-bottom: 4rem;
	&.middle-width {
		width: 85%;
		margin-left: 13rem;
	}
}

/* * * * * * * * * * * * * * * */
/* * * MARGINS AND PADDINGS * * */
/* * * * * * * * * * * * * * * */
.mar-t-0 {
	margin-top:0;
}


/* * * * * * * * * * * */
/* * * MAIN FOOTER * * */
/* * * * * * * * * * * */

/* * * * * * * * * * * * * */
/* * * PAGE HEADERS * * * * */
/* * * * * * * * * * * * * */


/* * * * * * * * * * * * * */
/* * *  ERROR MESSAGE * * */
/* * * * * * * * * * * * */
.error-container {
	position: fixed;
	bottom: 1em;
	left: 15%;
	z-index: 4;
	.message {
		position: relative;
		bottom: 0;
		visibility: visible;
		transition: all 0.2s linear;
		background-color: $main-orange;
		padding: 0.7em 1.5em;
		border-radius: 5px;
		@include box-shadow(0px, 3px, 6px, rgba(0, 0, 0, 0.3));
		&.not-visible {
			opacity: 0;
			bottom: -2em;
			visibility: hidden;
		}
	}
	h4,p {
		color: $light-paragraph;
		margin: 0;
	}
	h4:before {
		content: "\e04e";
		display: inline-block;
		vertical-align: middle;
		margin-right: 0.5em;
		@include icon-font-styles;
	}

}
/* * * * * * * * * * * * * * * * * * */
/* * * * * SMALLER DESCTOPS * * * * */
/* * * * * * * * * * * * * * * * * * */

@media (max-width: $screen-md) {
	.main-wrap {
		width: 78%;
	}
}

@media (max-width: $screen-sm) {
	.main-wrap {
		width: 74%;
	}
}

@media (max-width: $screen-xs) {

}

@media (max-width: 700px) {

}
@media (max-width: 500px) {

}
@media (max-width: 400px) {

}
