/*-----HELPERS-----*/
@mixin inline-block-fix {
	display:inline-block;
	margin-right:-4px;
	vertical-align: top;
}
/*-----GRADIENTS-----*/
@mixin purple-gradient($imageUrl: null) {
	background: #2d324f; /* Old browsers */

	@if ($imageUrl) {
		background-image: $imageUrl;
		background-image: $imageUrl, -moz-linear-gradient(-45deg, #2d324f 0%, #384a63 100%); /* FF3.6-15 */
		background-image: $imageUrl, -webkit-linear-gradient(-45deg, #2d324f 0%,#384a63 100%); /* Chrome10-25,Safari5.1-6 */
		background-image: $imageUrl, linear-gradient(135deg, #2d324f 0%,#384a63 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		background-repeat: no-repeat;
		background-position: center;
	} @else {
		background-image: -moz-linear-gradient(-45deg, #2d324f 0%, #384a63 100%); /* FF3.6-15 */
		background-image: -webkit-linear-gradient(-45deg, #2d324f 0%,#384a63 100%); /* Chrome10-25,Safari5.1-6 */
		background-image: linear-gradient(135deg, #2d324f 0%,#384a63 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d324f', endColorstr='#384a63',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin orange-gradient {
	background: #de4c3c; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #de4c3c 0%, #ff6e4a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #de4c3c 0%,#ff6e4a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #de4c3c 0%,#ff6e4a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de4c3c', endColorstr='#ff6e4a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin cover-image($url) {
	background-image:$url;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}

@mixin parallax-image($url) {
	background-image:$url;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:50% 100%;
	background-attachment:scroll;
	background-attachment:fixed;
}

@mixin full-elem-absolute {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 0;
}

@mixin box-shadow-crossbr($value) {
	-webkit-box-shadow: $value;
	-moz-box-shadow: $value;
	box-shadow: $value;
}

@mixin background-opacity($color, $opacity: 0.3) {
    background-color: $color; /* The Fallback */
    background-color: rgba($color, $opacity);
}

@mixin blurry-scale-fix() {
	-webkit-perspective: 1000;
	-webkit-transform: translateZ(0);
	-webkit-font-smoothing: subpixel-antialiased;
	backface-visibility: hidden;
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}

@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }

  // Output standard non-prefixed declaration
  #{$property}: $value;
}

@mixin icon-font-styles() {
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
	 @if $inset != "" {
	   -webkit-box-shadow:$top $left $blur $color $inset;
	   -moz-box-shadow:$top $left $blur $color $inset;
	   box-shadow:$top $left $blur $color $inset;
	 }
	 @if $inset == "" {
	   -webkit-box-shadow:$top $left $blur $color;
	   -moz-box-shadow:$top $left $blur $color;
	   box-shadow:$top $left $blur $color;
	 }
}

@mixin clear-fix {
	content: '';
	clear: both;
	display: block;
}

@mixin scroll-styles($border-color:$grey-border) {
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		background-color: #F5F5F5;
	}
	&::-webkit-scrollbar {
		width: 5px;
		background-color: $border-color;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $border-color;
	}
}

@mixin horizontal-scroll-styles($border-color:$light-border) {
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		background-color: #F5F5F5;
	}
	&::-webkit-scrollbar {
		height: 8px;
		background-color: $border-color;
		border-radius: 5px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $border-color;
		border-radius: 5px;
	}
}
