/* * * * * * * * * * * * * * * * * * */
/* * * * * * INCLUDE FONTS * * * * * */
/* * * * * * * * * * * * * * * * * * */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Roboto:400,400i,500');

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* * * * * * * * * * * * * * * * * * */
/* * * * * * SITE DEFAULTS * * * * * */
/* * * * * * * * * * * * * * * * * * */
body,html,* {
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	font-size:15px;
	font-family: $roboto;
	color:$paragraph;
}

/* * * * * * * * * * * * * * * * * * */
/* * * * * * * HEADERS * * * * * * * */
/* * * * * * * * * * * * * * * * * * */

h1,h2,h3,h4 {
	text-transform:uppercase;
	font-family:$montserrat;
	line-height:1.5em;
	color:$headers-color;
	text-align:left;
	font-weight: 700;
}

h1.light,
h2.light,
h3.light,
h4.light {
	color:$light-paragraph;
}

h1.underline,
h2.underline,
h3.underline,
h4.underline {
	line-height:1em;
	margin: 1.3em 0;
}

h1.underline:after,
h2.underline:after,
h3.underline:after,
h4.underline:after {
	content:'';
	display:inline-block;
	width:25%;
	height:2px;
	background-color:$main-orange;
	margin-left:1em;
}

h1.centered,
h2.centered,
h3.centered,
h4.centered {
	text-align:center;
}

h1.splited,
h2.splited,
h3.splited {
	margin-bottom:2em;
	line-height:1em;
	@include prefix(user-select, none, webkit moz ms);
	cursor:default;
	span.wrap {
		position: relative;
	}
	span.subtitle {
		opacity: 0.2;
		font-size: 1.7em;
		position:absolute;
		left:50%;
		top: 75%;
		white-space: nowrap;
	}
	&.centered {
		text-align: center;
		position: relative;
		span.main-title {
			position:absolute;
			top: -65%;
			left: -10%;
			white-space: nowrap;
		}
		span.subtitle {
			position:relative;
			left: auto;
			top: auto;
		}
	}
}
@media (max-width: $screen-lg) {
	h2, .h2 {
		font-size: 25px;
	}
	h3, .h3 {
		font-size:21px;
	}
	h4, .h4 {
		font-size: 16px;
	}

}

@media (max-width: $screen-sm) {
	h1.splited.sm-centered,
	h2.splited.sm-centered,
	h3.splited.sm-centered {
		text-align: center;
		position: relative;
		span.main-title {
			position:absolute;
			top: -65%;
			left: -10%;
		}
		span.subtitle {
			position:relative;
			left: auto;
			top: auto;
		}
	}
}

@media (max-width: $screen-xs) {
	h1.splited,
	h2.splited,
	h3.splited {
		margin-bottom:1.5em;
		span.subtitle {
			font-size: 1.2em;
			position:relative;
			left:0;
			top: 0;
			margin-top: 0.15em;
			display: block;
			white-space: normal;
		}
		&.centered {
			text-align: center;
			position: relative;
			span.main-title {
				position:relative;
				top: auto;
				left: auto;
			}
			span.subtitle {
				position:relative;
				left: auto;
				top: auto;
			}
		}
	}

	h1.splited.sm-centered,
	h2.splited.sm-centered,
	h3.splited.sm-centered {
		span.main-title {
			position: static;
		}
	}
}

/* * * * * * * * * * * * * * * * * */
/* * * * * * * LINKS * * * * * * * */
/* * * * * * * * * * * * * * * * * */
a {
	cursor: pointer;
}
a:not([class^='btn']) {
	color:$main-orange;
	transition: color 0.2s linear;
}
a:not([class^='btn']):hover,
a:not([class^='btn']):focus {
	text-decoration:none;
	color: $main-orange-light;
}

a.orange-highligh {
	color: $main-orange-light;
}
a.orange-highligh:hover {
	color: $main-orange;
}

a.blue-highligh {
	color: $main-blue-light;
}
a.blue-highligh:hover {
	color: $main-blue;
}

/* * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * PARAGRAPHS & SPANS * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * */
p {
	line-height:1.7em;
	margin-bottom:1.5em;
}
span.orange-highligh {
	color: $main-orange-light;
}
span.blue-highligh {
	color: $main-blue-light;
}

/* * * * * * * * * * * * * * * */
/* * * * * * LISTS * * * * * * */
/* * * * * * * * * * * * * * * */
ul {
	margin:0;
}
ul.heart-style {
	li:before {
		@include icon-font-styles;
		color: $main-orange;
		content: "\e00d";
		position: relative;
		top: 3px;
		margin-right: 1em;
	}
}
ul.icon-list {
	li {
		position:relative;
		padding-left: 1.6em;
		line-height: 1.5em;
		margin-bottom: 0.7em;
		color: $paragraph;
		&:before {
			content: '';
			@include icon-font-styles;
			position:absolute;
			left: 0;
			font-size: 1em;
			top: 3px;
			color: $purple-text;
		}
		&.heart-location:before {
			content: '\e019';
			left: 1px;
		}
		&.documents:before {
			content: '\e01a';
		}
		&.email:before {
			content: "\e01c";
		}
		&.phone:before {
			content: "\e01b";
		}
	}
	&.light {
		li {
			color: $light-paragraph;
			&:before {
				color: $light-paragraph;
			}
		}
	}
	&.multiple-rows {
		li {
			padding-left: 2.3em;
			margin-bottom: 1.1em;
			&:before {
				font-size: 1.6em;
				top: 5px;
			}
		}
	}
}
