//New
$white:				#ffffff;
$main-orange:		#de4c3c;
$main-orange-light:	#ff6e4a;
$main-orange-dark:	#941d10;
$main-blue: 		#0d87de;
$main-blue-light:	#3dbcf2;

$yellow:			#f5c801;
$red:				#ee6969;
$green:				#77be99;

$light-grey-bg: 	#fafcff;
$light-grey-hover:	#f2f5fa;
$darker-grey-bg:	#edf0fa;
$purple-bg:			#2d324f;
$light-purple-bg:	#343a5c;
$dark-grey-bg:		#343745;
$own-chat-bg:		#dde0ee;

$error-color:		#ee6969;
$success-color:		#77be99;
$error-bg: 			#fff7f7;
$blue-bg: 			#f2f5ff;

$paragraph: 		#45474a;
$light-paragraph: 	#fafcff;
$placeholder: 		#b9bbc7;
$headers-color: 	#212224;
$purple-hover:		#2d324f;
$purple-text:		#2d324f;

$light-border: 		#dde0ee;
$grey-border:		#dde0ed;
$dark-blur-border:	#384a62;

$icon-color:		#78abdc;
$grey-faded-icon:	#caccd9;
$grey-icon:			#dde0ee;
$light-grey-icon: 	#fafcff;

$facebook-color: 	#3b5998;

/********** FONT WEIGHT **********/

$font-regular:       400;
$font-medium:        500;

/*-----FONT FAMILY-----*/
$roboto			 	: 	'Roboto', sans-serif;
$montserrat		 	:	'Montserrat', sans-serif;

/*---------TRANSITIONS--------*/
$standard-transition: all 0.2s linear;

/*------ FOLDERS ---------*/
$images-path: 'assets/images/';