/* You can add global styles to this file, and also import other style files */
@import "assets/styles/styles.scss";

.cdk-overlay-container {
  position: absolute;
  width: 100%;
  top: 0;

  .cdk-overlay-pane.mat-datepicker-popup {
    float: left;
    position: relative !important;
    background-color: white;
  }

  .mat-calendar-body-selected {
    background-color: yellow;
  }
}

.mat-form-field-underline {
  background: black;
}

.cdk-overlay-pane {
  position: absolute !important;

  mat-option {
    background-color: white;
  }
}

.mat-form-field-label-wrapper {
  -webkit-transform: translateY(-1.34375em) scale(.75);
  transform: translateY(-1.34375em) scale(.75);
  margin-left: -20px;
}
